{% extends "home/base.html"%}
{%load static%}

{% block hauptinhalt %}  
<div class="col py-3">
   <div class="row">
      <h1>Details</h1>
      <p></p>
      <div class="col-sm-4">
         <div class="card">
            <div class="card-body">
               <h5 class="card-title">Büromaterial</h5>
               <p class="card-text">Einnahmenkonto Kontostand: 122</p>
            </div>
         </div>
      </div>
   </div>
   <p></p>
   <div class="table-responsive">
      <table class="table table-bordered table-hover table-danger table-striped">
         <thead>
            <tr>
               <th scope="col">Ausgaben</th>
               <th scope="col">Beschreibung</th>
               <th scope="col">Datum</th>
               <th scope="col">Betrag</th>
               <th scope="col"></th>
               <th scope="col">Mai</th>
            </tr>
         </thead>
         <tbody>
            <tr>
               <th scope="col"> 1 </th>
               <td></td>
               <td></td>
               <td></td>
               <td></td>
               <td></td>
            </tr>
            <tr>
               <th scope="col">2</th>
               <td></td>
               <td></td>
               <td></td>
               <td></td>
               <td></td>
            </tr>
            <tr>
               <th scope="col">3</th>
               <td></td>
               <td></td>
               <td></td>
               <td></td>
               <td></td>
            </tr>
            <tr>
               <th scope="col">4</th>
               <td></td>
               <td></td>
               <td></td>
               <td></td>
               <td></td>
            </tr>
         </tbody>
      </table>
   </div>
   <p></p>
   <div class="col-sm-4">
    <div class="card">
       <div class="card-body">
          <h5 class="card-title">Fuhrpark</h5>
          <p class="card-text">Einnahmenkonto Kontostand: 122</p>
       </div>
    </div>
 </div>

 <div class="table-responsive">
    <table class="table table-bordered table-hover table-danger table-striped">
       <thead>
          <tr>
             <th scope="col">Ausgaben</th>
             <th scope="col">Januar</th>
             <th scope="col">Februar</th>
             <th scope="col">März</th>
             <th scope="col">April</th>
             <th scope="col">Mai</th>
          </tr>
       </thead>
       <tbody>
          <tr>
             <th scope="col"> 1 </th>
             <td></td>
             <td></td>
             <td></td>
             <td></td>
             <td></td>
          </tr>
          <tr>
             <th scope="col">2</th>
             <td></td>
             <td></td>
             <td></td>
             <td></td>
             <td></td>
          </tr>
          <tr>
             <th scope="col">3</th>
             <td></td>
             <td></td>
             <td></td>
             <td></td>
             <td></td>
          </tr>
          <tr>
             <th scope="col">4</th>
             <td></td>
             <td></td>
             <td></td>
             <td></td>
             <td></td>
          </tr>
       </tbody>
    </table>
 </div>
</div>


<script>

</script>
{% endblock hauptinhalt %}