{% extends "home/base.html"%}
{%load static%}

{% block hauptinhalt %}
<div class="col py-3">
  <div class="row">
    <h1>Konten</h1>
    <p></p>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Einnahmen</h5>
          <p class="card-text">32500 €</p>
          <a href="{% url 'home:accountDetails'%}" class="btn btn-primary">Details</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Ausgaben</h5>
          <p class="card-text">17351 €</p>
          <a href="{% url 'home:accountDetails'%}" class="btn btn-primary">Details</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Umsatz</h5>
          <p class="card-text">15239 €</p>
          <a href="{% url 'home:accountDetails'%}" class="btn btn-primary">Details</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Konto erstellen</h5>
          <a href="{% url 'edit:editBankAccount'%}" class="btn btn-primary">+</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock hauptinhalt %}