{% extends "home/base.html"%}
{%load static%}

{% block hauptinhalt %}
<div class="col py-3">
    <div class="row">
        <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Bestandskonto</h5>
              <p class="card-text">32500 €</p>
            </div>
          </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Erfolgskonto</h5>
              <p class="card-text">17351 €</p>
            </div>
          </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Privatkonto</h5>
              <p class="card-text">15239 €</p>
            </div>
          </div>
        </div>
    </div>
      
{% endblock hauptinhalt %}