{% extends "home/base.html"%}
{%load static%}

{% block hauptinhalt %}
<div class="col py-3">
    <div class="table-responsive">
        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th>Nr.</th>
                    <th>Firma</th>
                    <th>Ansprechpartner</th>
                    <th>Adresse</th>
                    <th>Telefonnummer</th>
                    <th>Email</th>
                </tr>
            </thead>
        
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Musterfirma 1</td>
                    <td>Max Mustermann</td>
                    <td>Musterstraße 1, Musterort</td>
                    <td>01573463242</td>
                    <td>muster@gmail.com</td>
                </tr>
            
                <tr>
                    <td>2</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            
                <tr>
                    <td>3</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>

    <a href="{% url 'edit:editContacts'%}" class="btn btn-primary">Kontakt hinzufügen</a>
</div>
{% endblock hauptinhalt %}