{% extends "home/base.html"%}
{%load static%}

{% block hauptinhalt %}
<div class="col py-3">
    <h1>Kontakte</h1>
    <p></p>
    <!--Damit sich das Popup Fenster öffnet, wenn man auf den Button klickt. Hierfür wird "Modals" von Bootstrap verwendet. -->
    <div class="modal fade" id="editmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <!-- Bei dem Modal-header wird die Überschrift angezeigt-->
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Bearbeiten</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="" method="POST">
                    {% csrf_token %}
                    <!-- Beim Modal-body werden die einzelnen Textfelder angezeigt, wo sich die Daten von der jeweiligen Zeile befindet. -->
                    <div class="modal-body">
                        <input type="hidden" name="update_id" id="update_id">
                        <br />
                        <div class="form-group">
                            <label> Kontaktnummer </label>
                            <p></p>
                            <input type="text" name="kontaktnummer" id="kontaktnummer" class="form-control">
                        </div>
                        <br />
                        <div class="form-group">
                            <label> Firma </label>
                            <p></p>
                            <input type="text" name="firma" id="firma" class="form-control">
                        </div>
                        <br />
                        <div class="form-group">
                            <label> Ansprechpartner </label>
                            <p></p>
                            <input type="text" name="ansprechpartner" id="ansprechpartner" class="form-control">
                        </div>
                        <br />
                        <div class="form-group">
                            <label> Adresse </label>
                            <p></p>
                            <input type="text" name="adresse" id="adresse" class="form-control">
                        </div>
                        <br />
                        <div class="form-group">
                            <label> Telefonnummer </label>
                            <p></p>
                            <input type="text" name="telefonnummer" id="telefonnummer" class="form-control">
                        </div>
                        <div class="form-group">
                            <label> Email </label>
                            <p></p>
                            <input type="text" name="email" id="email" class="form-control">
                        </div>
                    </div>
                    <!-- Beim Modal-footer werden die Buttons platziert -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Schließen</button>
                        <button type="submit" name="deleteContact" class="btn btn-danger"
                            data-bs-dismiss="modal">Kontakt löschen</button>
                        <button type="submit" name="updateContact" class="btn btn-primary">Speichern</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th>Nr.</th>
                    <th>Firma</th>
                    <th>Ansprechpartner</th>
                    <th>Adresse</th>
                    <th>Telefonnummer</th>
                    <th>Email</th>
                    <th>Bearbeiten</th>
                </tr>
            </thead>

            <tbody>
                <!-- Anhand einer For-Schleife wird nachgeschaut, ob sich in "all_contacts_dict" Daten befinden. Falls ja, wird jeder dieser Daten, in diesem Fall
                Kontakte, in jeder einzelnen Zeile angezeigt. -->
                {% if all_contacts_dict %}


                {% for contact in all_contacts_dict %}
                <tr>
                    <td>{{contact.kontaktnummer}}</td>
                    <td>{{contact.firma}}</td>
                    <td>{{contact.ansprechpartner}}</td>
                    <td>{{contact.adresse}}</td>
                    <td>{{contact.telefonnummer}}</td>
                    <td>{{contact.email}}</td>
                    <form method="POST"></form>
                    <td><button name="edit" type="submit" class="btn btn-success editbtn" data-toogle="editmodal"
                            data-target="editmodal">Bearbeiten</button></td>
                </tr>
                {% endfor %}
            </tbody>

            {% else %}
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            </tbody>
            {% endif %}

            </tbody>
        </table>
    </div>

    <a href="{% url 'edit:editContacts'%}" class="btn btn-primary">Kontakt hinzufügen</a>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>
    <script>
        //Dieser Code sorgt dafür, dass das Popup Fenster sich öffnet, wenn man auf den Button klickt. editbtn ist dabei hier die ID des Buttons.
        //Nach diesem Prinzip wird das Popup bei Belege und To-Do mit den Werten aus den Zeilen gefüllt.
        $('.editbtn').on('click', function () {
            //Mit der "on click" Funktion wird das Popup mit dem Namen "editmodal" durch die "modal(show)" Methode angezeigt.
            $('#editmodal').modal('show');
            $tr = $(this).closest('tr');
            //Die einzelnen Kinderknoten von der Tabelle werden in einem Array in der "data"-Variable gespeichert. 
            var data = $tr.children("td").map(function () {
                return $(this).text();
            }).get();
            //Das Data Array wird in der Konsole angezeigt.
            console.log(data);
            //Damit die Werte aus den Zeilen in den Textfeldern angezeigt werden, nimmt man den Namen des Textfeldes und setzt den Wert aus dem Array mit der val-Methode 
            $('#kontaktnummer').val(data[0]);
            $('#firma').val(data[1]);
            $('#ansprechpartner').val(data[2]);
            $('#adresse').val(data[3]);
            $('#telefonnummer').val(data[4]);
            $('#email').val(data[5]);
        });
    </script>
</div>
{% endblock hauptinhalt %}