{% extends "home/base.html"%}
{%load static%}

{% block hauptinhalt %}

<!--Sidebar Beginn-->



<!--Sidebar Ende-->
<div class="col py-3">
    <div class="row">
        <div class="col-sm-4">
          <div class="card">
            <div class="card-body" style="color: forestgreen;">
              <h5 class="card-title">Einnahmen</h5>
              <p class="card-text">32500 €</p>
              <a href="#" class="btn btn-primary">Übersicht</a>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card">
            <div class="card-body" style="color: darkred;">
              <h5 class="card-title">Ausgaben</h5>
              <p class="card-text">17351 €</p>
              <a href="#" class="btn btn-primary">Übersicht</a>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Umsatz</h5>
              <p class="card-text">15239 €</p>
            </div>
          </div>
        </div>
      </div>
      <p></p>
      <div class="table-responsive">
        <table class="table table-bordered table-hover table-success table-striped">	
            <thead>
                <tr>
                    <th scope="col">Einnahmen</th>
                    <th scope="col">Januar</th>
                    <th scope="col">Februar</th>
                    <th scope="col">März</th>
                    <th scope="col">April</th>
                    <th scope="col">Mai</th>
                    <th scope="col">Juni</th>
                    <th scope="col">Juli</th>
                    <th scope="col">August</th>
                    <th scope="col">September</th>
                    <th scope="col">Oktober</th>
                    <th scope="col">November</th>
                    <th scope="col">Dezember</th>
                    <th scope="col">Jahresbilanz</th>
                </tr>
            </thead>
       
            <tbody>
                <tr>
                    <th scope="col">Verkäufe</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="col">Sonstige Erträge 1</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="col">Sonstige Erträge 2</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="col">Sonstige Erträge 3</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
    <p></p>
    <div class="table-responsive">
        <table class="table table-bordered table-hover table-danger table-striped">		
            <thead>
                <tr>
                    <th scope="col">Ausgaben</th>
                    <th scope="col">Januar</th>
                    <th scope="col">Februar</th>
                    <th scope="col">März</th>
                    <th scope="col">April</th>
                    <th scope="col">Mai</th>
                    <th scope="col">Juni</th>
                    <th scope="col">Juli</th>
                    <th scope="col">August</th>
                    <th scope="col">September</th>
                    <th scope="col">Oktober</th>
                    <th scope="col">November</th>
                    <th scope="col">Dezember</th>
                    <th scope="col">Jahresbilanz</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="col">Löhne & Gehälter</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="col">Miete</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="col">Abschreibung</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="col">Büromaterial</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</div>
</div>

{% endblock hauptinhalt %}