{% extends "home/base.html"%}
{%load static%}
<!--Für den Aufbau der Dashboard Seite wurde wieder Bootstrap verwendet. -->
{% block hauptinhalt %}
<div class="col py-3">
   <h1>Dashboard</h1>
   <div class="col-1 offset-11">
      <select class="form-select" id="month" name="month">
         <option value="" disabled selected>Monat</option>
         <option value="Januar">Januar</option>
         <option value="Februar">Februar</option>
         <option value="März">März</option>
         <option value="April">April</option>
         <option value="Mai">Mai</option>
         <option value="Juni">Juni</option>
         <option value="Juli">Juli</option>
         <option value="August">August</option>
         <option value="Septemnber">Septemnber</option>
         <option value="Oktober">Oktober</option>
         <option value="November">November</option>
         <option value="Dezember">Dezember</option>
      </select>
   </div>
   <div class="row mb-5 justify-content-center text-center">
      <div class="col-3">
         <div class="card text-white bg-success">
            <h5 class="card-header"><i class="fa fa-plus-square me-4"></i>Einnahmen</h5>
            <div class="card-body">
               <h2 class="card-text"><i class="fa fa-coins me-4"></i>{{sum_einnahmen}}</h2>
            </div>
         </div>
      </div>
      <div class="col-3">
         <div class="card text-white bg-danger">
            <h5 class="card-header"><i class="fa fa-minus-square me-4"></i>Ausgaben</h5>
            <div class="card-body">
               <h2 class="card-text"><i class="fa fa-coins me-4"></i>{{sum_ausgaben}}</h2>
            </div>
         </div>
      </div>
      <div class="col-3">
         <div class="card text-white bg-dark">
            <h5 class="card-header"><i class="fa fa-hand-holding-usd me-4"></i>Gewinn</h5>
            <div class="card-body">
               <h2 class="card-text"><i class="fa fa-coins me-4"></i>{{sum_gewinn}}</h2>
            </div>
         </div>
      </div>
   </div>
   <div class="row mb-4">
      <div class="col-sm-6">
         <div class="card">
            <div id="chart_div">

            </div>
         </div>
      </div>
      <div class="col-sm-6">
         <div class="card">
            <div id="dual_x_div" style="height: 480px; width: 200px;">

            </div>
         </div>
      </div>
   </div>
   <div class="row">
      <div class="col-6">

         <div class="card">
            <h4>Kleinunternehmergrenze</h4>
            <div class="row">
               <div class="col-sm-6">
                  <div class="col-sm-6" id="piechart" style="width: 300px; height: 300px;">
                  </div>
               </div>
               <div class="col-sm-6">
                  <div class="col-sm-6" id="piechartt" style="width: 300px; height: 300px;"></div>
               </div>
            </div>
         </div>
      </div>
      <div class="col-6" id="todo">
         <div class="card-hover-shadow-2x mb-3 card">
            <div class="card-header-tab card-header">
               <div class="card-header-title font-size-lg text-capitalize font-weight-normal"><i
                     class="fa fa-tasks"></i>&nbsp;To-Do-Liste</div>
            </div>
            <div class="scroll-area-sm">
               <perfect-scrollbar class="ps-show-limits">
                  <div style="position: static;" class="ps ps--active-y">
                     <div class="ps-content">
                        {% if all_todos_dict %}
                        <ul class=" list-group list-group-flush">
                           {% for todo in all_todos_dict %}
                           <li class="list-group-item">
                              <div class="todo-indicator bg-warning"></div>
                              <div class="widget-content p-0">
                                 <div class="widget-content-wrapper">
                                    <div class="widget-content-left">
                                       <div class="widget-heading">{{todo.aufgabe}}</div>
                                    </div>
                                    <div class="widget-content-right"> <button
                                          class="border-0 btn-transition btn btn-outline-success"> <i
                                             class="fa fa-check"></i></button> <button
                                          class="border-0 btn-transition btn btn-outline-danger"> <i
                                             class="fa fa-trash"></i> </button> </div>
                                 </div>
                              </div>
                           </li>
                           {% endfor %}
                        </ul>
                        {% endif %}
                     </div>
                  </div>
               </perfect-scrollbar>
            </div>

         </div>
      </div>
   </div>
</div>
</div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
   integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
   integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
   integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
   integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
   crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
   integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
   integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script>
   //Um die Diagramme darzustellen haben wir Google Charts verwendet. Es sind jedoch Beispiel Diagramme, die nicht mit unserer Datenbank verknüpft sind. 
   google.charts.load('current', { 'packages': ['bar'] });
   google.charts.setOnLoadCallback(drawStufff);

   function drawStufff() {
      var data = new google.visualization.arrayToDataTable([
         ['Kategorie', 'Einnahme', 'Ausgabe'],
         ['Löhne', 0, 8000],
         ['Miete', 0, 6000],
         ['Verkäufe', 30000, 0],
         ['Erträge', 50000, 0],
         ['Abschreibungen', 0, 7000]
      ]);

      var options = {
         width: 750,
         chart: {
            title: 'Januar',
            subtitle: 'Einnahmen/Ausgaben verteilt in die jeweilige Kategorie'
         },
         bars: 'horizontal', // Required for Material Bar Charts.
         series: {
            0: { axis: 'Einnahme' }, // Bind series 0 to an axis named 'distance'.
            1: { axis: 'Ausgabe' } // Bind series 1 to an axis named 'brightness'.
         },
         axes: {
            x: {
               distance: { label: 'Höhe der Einnahme/Ausgabe' }, // Bottom x-axis.

            }
         }
      };

      var chart = new google.charts.Bar(document.getElementById('dual_x_div'));
      chart.draw(data, options);
   };
   google.charts.load('current', { 'packages': ['corechart', 'bar'] });
   google.charts.setOnLoadCallback(drawStuff);
   function drawStuff() {

      var button = document.getElementById('change-chart');
      var chartDiv = document.getElementById('chart_div');

      var data = google.visualization.arrayToDataTable([
         ['Monat', 'Einnahme', 'Ausgabe'],
         ['Januar', 5220, 8000],
         ['Februar', 40000, 6000],
         ['März', 30000, 42000],
         ['April', 50000, 80000],
         ['Mai', 10000, 7000],
         ['Juni', 5000, 8000],
         ['Juli', 6000, 6000],
         ['August', 30000, 8000],
         ['September', 50000, 10000],
         ['Oktober', 2000, 7000],
         ['November', 50000, 60000],
         ['Dezember', 8000, 7000]
      ]);

      var materialOptions = {
         width: 750,
         height: 480,
         chart: {
            title: 'Jahr 2021',
            subtitle: 'Einnahmen/Ausgaben verteilt über das ganze Jahr'
         },
         series: {
            0: { axis: 'distance' }, // Bind series 0 to an axis named 'distance'.
            1: { axis: 'brightness' } // Bind series 1 to an axis named 'brightness'.
         },
         axes: {
            y: {
               distance: { label: 'Betrag' }, // Left y-axis.

            }
         }
      };

      var classicOptions = {
         width: 900,
         series: {
            0: { targetAxisIndex: 0 },
            1: { targetAxisIndex: 1 }
         },


      };

      function drawMaterialChart() {
         var materialChart = new google.charts.Bar(chartDiv);
         materialChart.draw(data, google.charts.Bar.convertOptions(materialOptions));
         button.innerText = 'Change to Classic';
         button.onclick = drawClassicChart;
      }

      function drawClassicChart() {
         var classicChart = new google.visualization.ColumnChart(chartDiv);
         classicChart.draw(data, classicOptions);
         button.innerText = 'Change to Material';
         button.onclick = drawMaterialChart;
      }

      drawMaterialChart();
   };

   google.charts.load("current", { packages: ["corechart"] });
   google.charts.setOnLoadCallback(drawChart);
   function drawChart() {
      var data = google.visualization.arrayToDataTable([
         ['Betrag', 'Prozent'],
         ['450000', 7.5],
         ['150000', 2.5]
      ]);

      var options = {
         legend: 'none',
         pieSliceText: 'label',
         title: 'Kleinunternehmergrenze Umsatz',
         pieStartAngle: 100,
      };

      var chart = new google.visualization.PieChart(document.getElementById('piechart'));
      chart.draw(data, options);
   }
   google.charts.load("current", { packages: ["corechart"] });
   google.charts.setOnLoadCallback(drawChartt);
   function drawChartt() {
      var data = google.visualization.arrayToDataTable([
         ['Betrag', 'Prozent'],
         ['36000', 6],
         ['24000', 4]
      ]);

      var options = {
         legend: 'none',
         pieSliceText: 'label',
         title: 'Kleinunternehmergrenze Gewinn',
         pieStartAngle: 100,
      };

      var chart = new google.visualization.PieChart(document.getElementById('piechartt'));
      chart.draw(data, options);
   }
</script>
{% endblock hauptinhalt %}