<!--Main Navigation-->
{%load static%}

{% block hauptinhalt %}
<!--Navigation Bar-->
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'start:aboutUs'%}">FiMa</a>
    <ul class="navbar-nav ml-auto">
        <div class="dropdown"> <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false"> <img src="https://avatars.githubusercontent.com/u/3?v=3" alt="" width="32" height="32" class="rounded-circle me-2"> <strong> Unternehmen </strong> </a>
            <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
                <li><a class="dropdown-item" href="{% url 'edit:settings'%}">Einstellungen</a></li>
                <li><a class="dropdown-item" href="{% url 'home:profile'%}">Profil</a></li>
                <li>
                <hr class="dropdown-divider">
                    <input name="logout_view" type="submit" value="Abmelden" class="btn btn-secondary" />
                <li><a class="dropdown-item" href="#">Abmelden</a></li>
            </ul>
        </div>
    </ul>
</nav>

<!--Sidebar-->
<div class="container-fluid">
<div class="row flex-nowrap">
    <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
        <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
            <a class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                <span class="fs-5 d-none d-sm-inline">Navigation</span>
            </a>
            <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                <li class="nav-item">
                    <a href="{% url 'home:dashboard'%}" class="nav-link align-middle px-0 text-white">
                    <i class="fa fa-tachometer-alt"></i> <span class="ms-1 d-none d-sm-inline">Dashboard</span> </a>
                </li>
                
                <li>
                    <a href="{% url 'home:accounts'%}" class="nav-link px-0 align-middle text-white"  >
                    <i class="fa fa-arrow-down"></i> <span class="ms-1 d-none d-sm-inline">Konten</span> </a>
                </li>
                    
                <li>
                    <a href="{% url 'home:receipts'%}" class="nav-link px-0 align-middle text-white">
                    <i class="fa fa-bookmark"></i> <span class="ms-1 d-none d-sm-inline">Belege</span></a>
                </li>
                    
                <li>
                    <a href="{% url 'home:bills'%}" class="nav-link px-0 align-middle text-white">
                    <i class="fa fa-file-invoice"></i> <span class="ms-1 d-none d-sm-inline">Rechnungen</span></a>
                </li>

                <li>
                    <a href="{% url 'home:contacts'%}" class="nav-link px-0 align-middle text-white">
                    <i class="fa fa-id-card"></i> <span class="ms-1 d-none d-sm-inline">Kontakte</span></a>
                </li>

                <li>
                    <a href="http://127.0.0.1:8000/dashboard/#todo" class="nav-link px-0 align-middle text-white">
                    <i class="fa fa-clipboard-list"></i> <span class="ms-1 d-none d-sm-inline">To-Do</span></a>
                </li>
            </ul>
        </div>
    </div>
{% endblock hauptinhalt %}