{% extends "home/base.html"%}
{%load static%}

{% block hauptinhalt %}
  
<div class="card-deck">
    <div class="row">
      <div class="card" style="width:400px">
        <div class="card-body">
          <h5 class="card-title">Währung auswählen</h5>  
          <input type="checkbox" id="subscribeNews" name="subscribe">
          <label>Euro</label>
          <input type="checkbox" id="subscribeNews" name="subscribe" value="Dollar">
          <label>Dollar</label>
          <input type="checkbox" id="subscribeNews" name="subscribe" value="Pound">
          <label>Pound</label>
          <p></p>
          <p><a href="#" class="btn btn-primary"> Speichern</a></p>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="card" style="width:400px">
        <div class="card-body"">
          <h5 class="card-title">Kontakte</h5>
          <a href="#" class="btn btn-primary">Bearbeiten</a>
        </div>
      </div>
    </div>

    <div class="row">        
      <div class="card" style="width:400px">
        <div class="card-body">
          <h5 class="card-title">Bankdaten</h5>
          <a href="#" class="btn btn-primary">Bearbeiten</a>
        </div>
      </div>
    </div>
        
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Passwort</h5>
        <a href="#" class="btn btn-primary">Ändern</a>
      </div>
    </div>
        
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Account löschen</h5>
        <a href="#" class="btn btn-primary">Löschen</a>
      </div>
    </div>
  </div>
</div>

{% endblock hauptinhalt %}