{% extends "start/base.html"%}
{%load static%}

{% block hauptinhalt %}
  
    <div class="container px-5 py-5" style="background-color: rgba(83, 81, 81, 0.74); color: white;">
      <div class="row h-100 align-items-center py-5">
        <div class="col-lg-6">
          <h1 class="display-4">Über uns</h1>
          <p class="">Wir bieten Ihnen und Ihrem Unternehmen einen einfachen und übersichtlichen Überblick über Ihre Buchhaltung</p>
        </div>
      </div>
    
      <div class="row align-items-center mb-5">
        <div class="col-lg-6 order-2 order-lg-1"><i class="fa fa-bar-chart fa-2x mb-3 text-primary"></i>
          <h2 class="font-weight-light">Alles im Überblick</h2>
          <p class="font-italic">Mit FiMa haben können Sie verschiedene Konten anlegen, Belege hinzufügen und auch Zeiträume betrachten.</p><a href="#" class="btn btn-light px-5 rounded-pill shadow-sm">Lernen Sie mehr!</a>
        </div>
        
        <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"><img src="https://bootstrapious.com/i/snippets/sn-about/img-1.jpg" alt="" class="img-fluid mb-4 mb-lg-0">
        </div>
      </div>
    
      <div class="row mb-4">
        <div class="row text-center">
          <h1 class="display-4" style="text-align: center;">Unser Team</h2>
          <p></p>
          
        <!-- Team Mitglied-->
          <div class="col-xl-3 col-sm-6 mb-5">
            <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://bootstrapious.com/i/snippets/sn-about/avatar-3.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
            <h5 class="mb-0" style="color: black;">Serhat Bingöl</h5><span class="small text-uppercase" style="color: black;">Projektmanager</span>
          </div>
        </div>
        <!-- End-->
  
        <!-- Team Mitglied-->
        <div class="col-xl-3 col-sm-6 mb-5">
          <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://bootstrapious.com/i/snippets/sn-about/avatar-1.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
            <h5 class="mb-0" style="color: black;">Fatih Dülgerog</h5><span class="small text-uppercase" style="color: black;">Architekt/Designer</span>
          </div>
        </div>
        <!-- End-->
  
        <!-- Team Mitglied-->
        <div class="col-xl-3 col-sm-6 mb-5">
          <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://bootstrapious.com/i/snippets/sn-about/avatar-3.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
            <h5 class="mb-0" style="color: black;">Fevzi Gencer</h5><span class="small text-uppercase" style="color: black;">Entwicklung (Front-End)</span>
          </div>
        </div>
        <!-- End-->
  
        <!-- Team Mitglied-->
        <div class="col-xl-3 col-sm-6 mb-5">
          <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://bootstrapious.com/i/snippets/sn-about/avatar-1.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
            <h5 class="mb-0" style="color: black;">Julian Schnäbele</h5><span class="small text-uppercase" style="color: black;">Entwicklung (Back-End)</span>
          </div>
        </div>
        <!-- End-->
  
      </div>
    </div>
  </div>
  
  
  <footer class="bg-dark pb-5">
    <div class="container text-center">
      <p class="font-italic text-muted mb-0">&copy; Copyrights All rights reserved.</p>
    </div>
  </footer>
{% endblock hauptinhalt %}