{% extends "start/base.html"%}
{%load static%}

{% block hauptinhalt %}
<center>
    <div class="forgotPassword">
      <h3>Passwort vergessen?</h3>
      <p></p>
      Geben Sie hier Ihre E-Mail Adresse ein, um Ihr Passwort zurückzusetzen.
      <form>
        <div class="col-9 shadow-none p-1 mb-2t rounded">
          <input type="email" class="form-control" placeholder="test@unternehmen.de">
        </div>
      <p></p>
      <a type="text" class="btn btn-dark" href="{% url 'start:emailSend'%}">Jetzt zurücksetzen</a>
    </form>
    </div> 
  </center>
{% endblock hauptinhalt %}