{% extends "start/base.html"%}
{%load static%}

{% block hauptinhalt %}
<center>
    <div class="forgotPassword">
      <form>
        <div class="col-9 shadow-none p-1 mb-2t rounded">
          <label class="form-label">Email Adresse</label>
          <input type="email" class="form-control" placeholder="test@unternehmen.de">
        </div>
      <p></p>
      <a type="text" class="btn btn-dark" href="{% url 'start:resetPassword'%}">Jetzt zurücksetzen</a>
    </form>
    </div> 
  </center>
{% endblock hauptinhalt %}