{% extends "start/base.html"%}
{%load static%}

{% block hauptinhalt %}
<center>
  <div class="forgotPassword">

    <div class="col-9 shadow-none p-1 mb-2t rounded">
      <h3> Email gesendet!</h3>
    </div>
      Wir haben dir eine E-Mail zum Zurücksetzen deines Passworts geschickt! </br>
      Bitte check deinen Postfach!
  </div>
</center>
{% endblock hauptinhalt %}

<!--<div class="forgotPassword">
      <h3>Passwort zurückgesetzt!</h3>
      
      <p></p>
      Dein Passwort wurde erfolgreich zurückgesetzt <br/>
      Bitte kehren Sie zum Login zurück und melden Sie sich an.
      <p></p>
      
      <a type="text" class="btn btn-dark" href="{% url 'start:login'%}">Zurück zum Login</a>
    </div>-->