{% extends "start/base.html"%}
{%load static%}

{% block hauptinhalt %}
<center>
  <div class="forgotPassword">
    <h3>Passwort vergessen?</h3>
    <p></p>
    Geben Sie hier Ihre E-Mail Adresse ein, um Ihr Passwort zurückzusetzen.
    <div class="col-9 shadow-none p-1 mb-2t rounded">
      <form method="post"> {% csrf_token %}
        {{form}}
        <p></p>
        <button type="submit" class="btn btn-dark">Jetzt zurücksetzen</button>
      </form>
    </div>


  </div>
</center>
{% endblock hauptinhalt %}