{% extends "start/base.html"%}
{%load static%}

{% block hauptinhalt %}
<center>
  <div>
    <form>
      <label for="inputEmail4" class="form-label">Email</label>
      <input id="registerEmail" type="email" class="form-control" id="inputEmail4">

      <label for="inputPassword4" class="form-label">Password</label>
      <input id="registerPassword" type="password" class="form-control" id="inputPassword4">

      <label for="inputAddress" class="form-label">Address</label>
      <input id="registerAdress" type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">

      <label for="inputAddress2" class="form-label">Address 2</label>
      <input id="registerAdress2" type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">

      <label for="inputCity" class="form-label">City</label>
      <input id="registerCity" type="text" class="form-control" id="inputCity">
      <button type="submit" class="btn btn-primary">Sign in</button>
      
  </form>
</div>
</center>
{% endblock hauptinhalt %}