{% extends "start/base.html"%}
{%load static%}

{% block hauptinhalt %}
  <center>
    <div class="registerWindow">
      <form>
        <div class="row">
            <div class="col-6">
              <label class="form-label">Vorname</label>
              <input id="registerFirstName" type="text" class="form-control" placeholder="Max">
            </div><div class="col-6">
              <label class="form-label">Nachname</label>
              <input id="registerSecondName" type="text" class="form-control" placeholder="Mustermann">
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <label class="form-label">Email Adresse</label>
              <input id="registerEmail" type="email" class="form-control" placeholder="test@unternehmen.de">
            </div><div class="col-6">
              <label class="form-label">Passwort</label>
              <input id="registerPassword" type="password" class="form-control" placeholder="********">
            </div>
          </div>
              <label class="form-label">Unternehmen</label>
              <input id="registerCompanyName" type="text" class="form-control" placeholder="Test GmbH">
          
              <button type="registerSubmit" class="btn btn-dark">Konto erstellen</button>
           
        
      </form>
    </div>
  </center>
{% endblock hauptinhalt %}

<!-- Anezige aller Felder untereinander
<center>
  <div class="registerWindow">
    <form>
      <div class="col-2 shadow-none p-1 mb-2 bg-light rounded">
        <label class="form-label">Vorname</label>
        <input id="registerFirstName" type="text" class="form-control" placeholder="Max">
      </div>

      <div class="col-2 shadow-none p-1 mb-2 bg-light rounded">
        <label class="form-label">Nachname</label>
        <input id="registerSecondName" type="text" class="form-control" placeholder="Mustermann">
      </div>

      <div class="col-2 shadow-none p-1 mb-2 bg-light rounded">
        <label class="form-label">Email Adresse</label>
        <input id="registerEmail" type="email" class="form-control" placeholder="test@unternehmen.de">
      </div>

      <div class="col-2 shadow-none p-1 mb-2 bg-light rounded">
        <label class="form-label">Passwort</label>
        <input id="registerPassword" type="password" class="form-control" placeholder="********">
      </div>

      <div class="col-2 shadow-none p-1 mb-2 bg-light rounded">
        <label class="form-label">Unternehmen</label>
        <input id="registerCompanyName" type="text" class="form-control" placeholder="Test GmbH">
      </div>
      
      <button type="registerSubmit" class="btn btn-dark">Konto erstellen</button>
    </form>
  </div>
</center>
-->