{% extends "start/base.html"%}
{%load static%}
{% load crispy_forms_tags %}
{% block hauptinhalt %}
<div class="container-fluid py-5 mt-5">
  <div class="row mt-lg-5 justify-content-center align-items-center">
    <div class="col-12 col-md-8 col-sm-5 col-xl-4">
      <div class="card-body text-center">
        <center>
          <form class="registerWindow" action="{% url 'start:register' %}" method="post">
            {% csrf_token %}
            <h1 class="mb-4">Registrieren</h1>

            <div class="row mx-2">
              {% if error_message %}
              <p class="bg-danger p-d ml-b">{{ error_message }}</p>
              {% endif %}
              
              <div class="col-6 mb-4">
                <div class="form-group">
                  <!--Crips Field sorgt dafür, dass die Textfelder ordentlich und im Bootstrap Stil aussehen. -->
                  {{ form.vorname|as_crispy_field }}
                </div>
              </div>
              <div class="col-6 mb-4">
                <div class="form-group">
                  {{ form.nachname|as_crispy_field }}
                </div>
              </div>
            </div>

            <div class="row mx-2">
              <div class="col-6 mb-4">
                <div class="form-group">
                  {{ form.email|as_crispy_field }}
                </div>
              </div>
              <div class="col-6 mb-4">
                <div class="form-group">
                  {{ form.username|as_crispy_field }}
                </div>
              </div>
            </div>

            <div class="row mx-2">
              <div class="col-6 mb-4">
                <div class="form-group">
                  {{ form.passwort|as_crispy_field }}
                </div>
              </div>
              <div class="col-6 mb-4">
                <div class="form-group">
                  {{ form.passwort_wiederholen|as_crispy_field }}
                </div>
              </div>
            </div>
            <div class="col-6">
              <input name="register" type="submit" value="Konto erstellen" class="btn btn-dark" />
            </div>
          </form>
        </center>
      </div>
    </div>
  </div>
</div>
{% endblock hauptinhalt %}