{% extends "start/base.html"%}
{%load static%}

{% block hauptinhalt %}
<center>
    <div class="loginWindow">
        <form>
          <div class="col-9 shadow-none p-1 mb-2t rounded">
            <label class="form-label">Neues Passwort</label>
            <input type="email" class="form-control" placeholder="********">
          </div>
        <div class="col-9 shadow-none p-1 mb-2  rounded">
          <label class="form-label">Passwort wiederholen</label>
          <input type="password" class="form-control" placeholder="********">
        </div class="col-3">
        <p></p>
        <button type="submit" class="btn btn-dark" >Zurücksetzen</button>
              </form>
      </div> 
  </center>
{% endblock hauptinhalt %}