{% extends "start/base.html"%}
{%load static%}

{% block hauptinhalt %}
  <center>
    <div class="loginWindow">
      <h2>Passwort zurücksetzen</h2>
      Lege hier dein neues Passwort fest.
        <form>
          <div class="col-9 shadow-none p-1 mb-2t rounded">
            <label class="form-label">Neues Passwort</label>
            <input type="email" class="form-control" placeholder="********">
          </div>
       
          <div class="col-9 shadow-none p-1 mb-2  rounded">
            <label class="form-label">Passwort wiederholen</label>
            <input type="password" class="form-control" placeholder="********">
          </div class="col-3">
          
          <p></p>
          <a type="text" class="btn btn-dark" href="{% url 'start:resetPasswordDone'%}">Passwort zurücksetzen</a>
        </form>
    </div> 
  </center>
{% endblock hauptinhalt %}