{% extends "home/base.html"%}
{%load static%}
{% load crispy_forms_tags %}
{% block hauptinhalt %}
<div class="col mt-5 py-5">
  <div class="row mt-5">
    <div class="col">
    </div>
    <div class="col-6">
      <div class="card p-5">
        <h2 class="mb-5" style="text-align: center;">Password ändern</h2>
        <form method="post">
          {% csrf_token %}
          {{ form|crispy }}
          <center>
            <button class="btn btn-primary mt-3 me-2" type="submit">Speichern</button>
            <a class="btn btn-secondary mt-3" href="{% url 'edit:settings' %}">Zurück</a>
          </center>
        </form>
      </div>
    </div>
    <div class="col"></div>
  </div>
</div>

{% endblock hauptinhalt %}