{% extends "home/base.html"%}
{%load static%}

{% block hauptinhalt %}
<div class="col py-5 mt-5">
    <div class="row mt-5">
        <!--Die beiden leeren Col Elemente sorgen dafür, dass das Rechteck mit den Textfeldern im Inhalt in der Mitte des Bildschirms angezeigt wird -->
        <div class="col">
        </div>
        <div class="col-6">
            <!--Die Seite wird innerhalb eines Cards angezeigt -->
            <div class="card p-5">
                <h1 class="mb-4">Konto löschen</h1>
                <h5 class="mb-4">Du möchtest dein Konto unwiederruflich löschen? Gib zur Sicherheit bitte dein Passwort ein.</h5>
                <form class="form-inline">
                    <div class="row">
                        <div class="col-12 w-75 mb-3">
                            <label class="form-label mb-3" for="inputEmail4">Passwort</label>
                            <input type="password" class="form-control" id="#" placeholder="****************">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 w-75 mb-3">
                            <label class="form-label mb-3" for="inputEmail4">Passwort wiederholen</label>
                            <input type="password" class="form-control" id="#" placeholder="****************">
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <button type="button" class="btn btn-danger me-2">Löschen</button>
                        <a href="{% url 'edit:settings'%}" class="btn btn-primary">Zurück</a>
                    </div>
                </form>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>
{% endblock hauptinhalt %}