{% extends "edit/base.html"%}
{%load static%}
{% load crispy_forms_tags %}
{% block hauptinhalt %}
<div class="col py-5 mt-5">
    <div class="row">
        <div class="col">
        </div>
        <div class="col-6">
            <div class="card p-5">
                <center>
                    <h2>Belege Hochladen</h1>
                        <p><img src="https://www.iconninja.com/files/154/371/776/upload-icon.png" alt="Upload"
                                width="100px">
                        </p>
                        <p>
                        <form enctype="multipart/form-data"> <input name="Datei" type="file" accept="text/*" /> </form>
                        </p>
                        {% for message in messages %}
                        <div class="alert alert-success">
                            <a class="close" href="#" data-dismiss="alert">×</a>
                            {{ message }}
                        </div>
                        {% endfor %}
                </center>
                <p></p>
                <form class="form-inline" action="" method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-sm-6">               
                            {{form.belegnummer|as_crispy_field}}
                        </div>
                        <div class="col-sm-6">
                            {{form.belegdatum|as_crispy_field}}
                        </div>
                    </div>
                    <p></p>
                    <div class="row">
                        <div class="col-sm-6">
                            {{form.zahlart|as_crispy_field}}
                        </div>
                        <div class="col-sm-6">
                            {{form.faelligkeit|as_crispy_field}}
                        </div>
                    </div>
                    <p></p>
                    <div class="row">
                        <div class="col-sm-6">
                            {{form.betrag|as_crispy_field}}
                        </div>
                        <div class="col-sm-6">
                            {{form.beschreibung|as_crispy_field}}
                        </div>
                    </div>
                    <p></p>
                    <div class="row">
                        <div class="col-sm-6">
                            {{form.konto_name|as_crispy_field}}
                        </div>
                        <div class="col-sm-6">
                            {{form.art|as_crispy_field}}
                        </div>
                    </div>
                    <p></p>
                    <center>
                    <button type="submit" class="btn btn-primary mt-2 me-2">Speichern</button>
                    <!-- Submit-Button statt Link, um Speichern auszulösen-->
                    <a href="{% url 'home:receipts'%}" class="btn btn-secondary mt-2">Zurück zur Übersicht</a>
                </center>
                </form>
                <br />
            </div>
        </div>
        <div class="col">
        </div>
    </div>
</div>
{% endblock hauptinhalt %}