{% extends "edit/base.html"%}
{%load static%}
{% load crispy_forms_tags %}
{% block hauptinhalt %}
<div class="col py-5 mt-5">
    <div class="row mt-5">
        <div class="col">
        </div>
        <div class="col-6">
            <div class="card p-5">
                <h1 class="mb-4">Aufgabe erstellen</h1>
                {% for message in messages %}
                <div class="alert alert-success">
                    <a class="close" href="#" data-dismiss="alert">×</a>
                    {{ message }}
                </div>
                {% endfor %}
                <form class="form-inline" method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-sm-6">
                            {{form.nummer|as_crispy_field}}
                        </div>

                        <div class="col-sm-6">
                            {{form.aufgabe|as_crispy_field}}
                        </div>
                    </div>
                    <p></p>
                    <div class="row">
                        <div class="col-sm-6">
                            {{form.datum|as_crispy_field}}
                        </div>
                        <div class="col-sm-6">
                            {{form.faelligkeit|as_crispy_field}}
                        </div>
                    </div>
                    <p></p>
                    <div class="row">
                        <div class="col-sm-6">
                            {{form.beschreibung|as_crispy_field}}
                        </div>
                    </div>
                    <br />
                    <div class="col py-3">
                        <div class="row">
                            <div class="col-sm-12">
                                <button type="submit" class="btn btn-success me-2">Speichern</button>
                                <!-- Submit-Button statt Link, um Speichern auszulösen-->
                                <a href="{% url 'home:todos'%}" class="btn btn-primary">Zurück zur Übersicht</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>
{% endblock hauptinhalt %}