{% extends "home/base.html"%}
{%load static%}

{% block hauptinhalt %}
<div class="col py-5 mt-5">
    <div class="row mt-5">
        <div class="col">
        </div>
        <div class="col-5">
            <div class="card p-5">
                <h1 class="mb-4">Passwort ändern</h1>
                <form class="form-inline">
                    <div class="row">
                        <div class="col-12">
                            <label for="inputPassword">Passwort</label>
                            <p></p>
                            <input type="password" class="form-control" id="inputPassword">
                        </div>
                        <p></p>
                        <div class="col-12">
                            <label for="inputPassword1">Passwort wiederholen</label>
                            <p></p>
                            <input type="password" class="form-control" id="inputPassword1">
                        </div>
                    </div>
                    <p></p>
                </form>
                <br />

                <div class="col py-3">
                    <div class="row">
                        <div class="col-12">
                            <button type="button" class="btn btn-primary">Speichern</button>
                            <a href="{% url 'edit:settings'%}" class="btn btn-secondary">Zurück</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>
{% endblock hauptinhalt %}