{% extends "edit/base.html"%}
{%load static%}

{% block hauptinhalt %}
<div class="col py-3">
    <div class="row">
        <center>
            <div class="col-sm-12">
                <h1>Konto erstellen</h1>
            </div>
        </center>
    </div>

    {% for message in messages %}
    <div class="alert alert-success">
        <a class="close" href="#" data-dismiss="alert">×</a>
        {{ message }}
    </div>
    {% endfor %}

    <div class="container px-5 py-5">
        <form action="" method="post">
            {% csrf_token %}
            <form class="form-inline">
                <div class="row">
                    <div class="col-sm-4">
                        <label class="form-control" for="inputEmail4">  Konto {{form.name}} </label>
                        
                    </div>

                    <!--<div class="col-sm-4">
                        <label class="form-control" for="inputPassword4"> Art </label>
                         <input type="date" class="form-control" id="inputPassword4" placeholder="Belegdatum"> 
                        
                    </div>-->
                    <div class="col-sm-4">
                        <label class="form-control" for="inputAddress">  Bank {{form.bank}}</label>
                        <!-- <input type="text" class="form-control" id="inputAddress" placeholder="Zahlart"> -->
                        
                    </div>
                </div>
                <p></p>

                <div class="row">
                
                    <div class="col-sm-4">
                        <label class="form-control" for="inputAddress2"> IBAN {{form.iban}}</label>
                        <!-- <input type="text" class="form-control" id="inputAddress2" placeholder="Fälligkeit"> -->
                        
                    </div>
                    <div class="col-sm-4">
                        <label class="form-control" for="inputAddress"> BIC {{form.bic}}</label>
                        <!-- <input type="text" class="form-control" id="inputAddress" placeholder="Zahlart"> -->
                        
                    </div>
                </div>
                <p></p>
                <div class="row">
                    <div class="col-sm-4">
                        <label class="form-control" for="inputAddress"> Kontostand € {{form.kontostand}} </label>
                        <!-- <input type="text" class="form-control" id="inputAddress" placeholder="Zahlart"> -->
                       
                    </div>
                    
                </div>
                <button type="submit" class="btn btn-success">Speichern</button> <!-- Submit-Button statt Link, um Speichern auszulösen-->
                <a href="{% url 'home:accounts'%}" class="btn btn-primary">Zurück zur Übersicht</a>
            </form>
            <br />

            <!--
            <div class="col py-3">
                <div class="row">
                    <div class="col-sm-12">
                        <a href="{% url 'home:dashboard'%}" class="btn btn-primary">Zurück zum Dashboard</a>
                    </div>
                </div>
            </div> 
            -->
    </div>
</div>
{% endblock hauptinhalt %}