{% extends "home/base.html"%}
{%load static%}

{% block hauptinhalt %}
<div class="col py-3">
    <div class="row">
        <center><div class="col-sm-12">
            <h1>Kontakte bearbeiten</h1>
        </div></center>
    </div>

    {% for message in messages %}
    
    <div class="alert alert-success">
        <a class="close" href="#" data-dismiss="alert">×</a>
           {{ message }}
    </div>

    {% endfor %}
    
    <div class="container px-5 py-5" >
        <form action="" method="post">
            {% csrf_token %}
        <form class="form-inline">
        <div class="row">
            <div class="col-sm-4">
                <label>Nummer</label>
                <p></p>
                {{form.kontaktnummer}}
            </div>
            <div class="col-sm-4">
                <label>Firma</label>
                <p></p>
                {{form.firma}}
            </div>
            
            <div class="col-sm-4">
                <label>Ansprechpartner</label>
                <p></p>
                {{form.ansprechpartner}}
            </div>

        </div>
        <p></p>
        
        <div class="row">
            <div class="col-sm-4">
                <label>Adresse</label>
                <p></p>
                {{form.adresse}}
            </div>

            <div class="col-sm-4">
                <label>Telefonnummer</label>
                <p></p>
                {{form.telefonnummer}}
            </div>
           
            <div class="col-sm-4">
                <label>E-Mail</label>
                <p></p>
                {{form.email}}
            </div>
        </div>
        <button type="submit">Speichern</button>
        </form>
        <br />
      
    <div class="col py-3">
        <div class="row">
            <div class="col-sm-12">
                <!--<a href="{% url 'home:receipts'%}" class="btn btn-primary">Speichern</a>-->
                <a href="{% url 'edit:settings'%}" class="btn btn-primary">Zurück</a>
            </div>
        </div>
    </div>
</div>
{% endblock hauptinhalt %}