{% extends "home/base.html"%}
{%load static%}

{% block hauptinhalt %}
<div class="col py-3">
    <div class="row">
        <div class="col-sm-12">
            <h1>Passwort ändern</h1>
        </div>
    </div>

    
    <div class="container px-5 py-5" >
        <form class="form-inline">
        <div class="row">
            <div class="col-sm-6">
                <label for="inputPassword">Passwort</label>
                <p></p>
                <input type="password" class="form-control" id="inputPassword">
            </div>
            <p></p>
            <div class="col-sm-6">
                <label for="inputPassword1">Passwort wiederholen</label>
                <p></p>
                <input type="password" class="form-control" id="inputPassword1">
            </div>
        </div>
        <p></p>
    </form>
    <br />
      
    <div class="col py-3">
        <div class="row">
            <div class="col-sm-12">
                <button type="button" class="btn btn-primary">Speichern</button>
                <a href="{% url 'edit:settings'%}" class="btn btn-primary">Zurück</a>
            </div>
        </div>
    </div>
</div>
{% endblock hauptinhalt %}