{% extends "home/base.html"%}
{%load static%}

{% block hauptinhalt %}

<div class="col py-5">
   <div class="row">
      <div class="col">
      </div>
      <div class="col-6">
         <div class="card p-5">
            <h1 class="mb-4">Einstellungen</h1>
            <p></p>
            <div class="card mb-4">
               <div class="card-body">
                  <div class="row">
                     <div class="col-sm-4">
                        <h5 class="card-title"> <i class="bi bi-currency-exchange"></i> Währung auswählen</h5>
                     </div>
                     <div class="col-sm-4">
                        <i class="bi bi-currency-euro"></i>
                        <input type="checkbox" id="subscribeNews" name="subscribe" value="Euro">
                        <i class="bi bi-currency-dollar"></i>
                        <input type="checkbox" id="subscribeNews" name="subscribe" value="Dollar">
                        <i class="bi bi-currency-pound"></i>
                        <input type="checkbox" id="subscribeNews" name="subscribe" value="Pound">
                     </div>
                     <div class="col-sm-4">
                        <a href="#" class="btn btn-primary" id="a"> Speichern</a>
                     </div>
                  </div>
               </div>
            </div>
            <p></p>
            <div class="card mb-4">
               <div class="card-body">
                  <h5 class="card-title"> <i class="bi bi-people-fill"></i> Kontakte <a href="{% url 'home:contacts'%}"
                        class="btn btn-primary" id="a">Bearbeiten</a></h5>
               </div>
            </div>
            <p></p>
            <div class="card mb-4">
               <div class="card-body">
                  <h5 class="card-title"> <i class="bi bi-bank"></i> Bankdaten <a href="{% url 'edit:editBankData'%}"
                        class="btn btn-primary" id="a">Bearbeiten</a></h5>
               </div>
            </div>
            <p></p>
            <div class="card mb-4">
               <div class="card-body">
                  <h5 class="card-title"> <i class="bi bi-lock-fill"></i> Passwort <a
                        href="{% url 'edit:change_password_form'%}" class="btn btn-primary" id="a">Ändern</a></h5>
               </div>
            </div>
            <p></p>
            <div class="card mb-4">
               <div class="card-body">
                  <h5 class="card-title"> <i class="bi bi-person-x"></i> Konto löschen <a
                        href="{% url 'edit:deleteAccount'%}" class="btn btn-primary" id="a">Löschen</a></h5>
               </div>
            </div>
         </div>
      </div>
      <div class="col"></div>
   </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
   integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
   integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
   integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
   integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
   crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
   integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
   integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
{% endblock hauptinhalt %}